body {
    font-family: Tahoma, Arial, sans-serif;
}

.ingredients, .steps {
    background-color: #e8d5b9;
    font-family: cursive;
    font-style: italic;
}

.title-area img {
    height: auto;
    width: 500px;
}